<form novalidate #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="id"
         value="service.formData.id" />

  <div class="form-row">
    <div class="form-group col-md-3">
      <label>First Name</label>
      <input class="form-control form-control-lg" placeholder="First Name"
             name="firstName" #firstname="ngModel" [(ngModel)]="service.formData.firstName" required />
    </div>
    <div class="form-group col-md-3">
      <label>Last Name</label>
      <input class="form-control form-control-lg" placeholder="Last Name"
             name="lastName" #lastname="ngModel" [(ngModel)]="service.formData.lastName" required />
    </div>
    <div class="form-group col-md-3">
      <label>Age</label>
      <input class="form-control form-control-lg" placeholder="Age"
             name="age" #age="ngModel" [(ngModel)]="service.formData.age" required />
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Date of Birth</label>
      <input class="form-control form-control-lg" placeholder="dd/mm/yyyy" data-date-format="dd/mm/yyyy"
             name="dateOfBirth" #dateOfBirth="ngModel" [(ngModel)]="service.formData.dateOfBirth" required />
    </div>
    <div class="form-group col-md-3">
      <label>Occupation</label>
      <select [(ngModel)]="service.formData.occupationId" name="occupation" class="form-control">
        <option *ngFor="let occupation of service.occupationList"
                [value]="occupation.id"
                [attr.selected]="service.formData.occupationId==occupation.id ? true : null">
          {{occupation.name}}
        </option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <label>Death Insured Sum</label>
      <input class="form-control form-control-lg" placeholder="Death Insured Sum"
             name="deathInsuredSum" #deathInsuredSum="ngModel" [(ngModel)]="service.formData.deathInsuredSum" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Premium</label>
      <input class="form-control form-control-lg" placeholder="Premium"
             name="premium" #premium="ngModel" [(ngModel)]="service.formData.premium" required />
    </div>
  </div>

  <div class="form-row right">
    <div class="col-md-2 bg-light text-right">
      <button class="btn btn-primary btn-lg btn-block" type="button" (click)="calculatePremium()">Calculate Premium</button>
    </div>
    <div class="col-md-1 bg-light text-right">
      <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="form.invalid">Save</button>
    </div>
  </div>

</form>
