<div class="jumbotron py-2">
  <h1 class="display-4 text-center">Member Form</h1>
</div>
<div>
  <app-member-form></app-member-form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Occupation</th>
        <th scope="col">Death Insured Sum</th>
        <th scope="col">Premium</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of service.list">
        <td (click)="populateForm(row)">{{row.firstName}}</td>
        <td (click)="populateForm(row)">{{row.lastName}}</td>
        <td (click)="populateForm(row)">{{row.age}}</td>
        <td (click)="populateForm(row)">{{row.dateOfBirth}}</td>
        <td (click)="populateForm(row)">{{row.occupation}}</td>
        <td (click)="populateForm(row)">{{row.deathInsuredSum}}</td>
        <td (click)="populateForm(row)">{{row.premium}}</td>

        <td>
          <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(row.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
